.dashboard .top-selling{
  font-size:14px;
}

.dashboard .top-selling table thead{
  background-color: #f6f6fe !important;
}

.dashboard .top-selling table thead th{
  border:0;
}

.dashboard .top-selling table tbody td{
  vertical-align: middle;
}

.top-selling-img{
  border-radius: 5px;
  height:60px;
  max-width:60px;
  width:60px;
  object-fit: cover;
  overflow: hidden;
}