.top-selling{
  flex:1;
  box-sizing: border-box;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  width:100%;
  padding:8px;
}

.top-selling-content{
  background-color:white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width:100%;
  padding:8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.top-selling-content-filter{
  display: flex;
  justify-content: flex-end;
}

.top-selling-content-body{
  width:100%;
  padding:8px;
}

.top-selling-title{
  display: flex;
  font-size:1rem;
  font-weight:bold;
  padding-bottom:8px;
}
