.top-selling-table{
  border:none;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.top-selling-table-header{
  font-size:1rem;
}

.table.top-selling-table tr{
  background-color: #f8f8f8;
  border: none;
  padding: .35em;
}

table.top-selling-table th,
table.top-selling-table td {
  padding: .625em;
  text-align: left;
  /* text-align:center; */
}

table.top-selling-table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.top-selling-img{
  border-radius: 5px;
  height:44px;
  max-width:44px;
  width:44px;
  object-fit: cover;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  table.top-selling-table {
    border: 0;
  }
  
  table.top-selling-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table.top-selling-table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table.top-selling-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table.top-selling-table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table.top-selling-table td:last-child {
    border-bottom: 0;
  }
}