#main {
  margin-top: 60px;
  position:absolute;
  top:0;
  width:100%;
  height:auto;
  padding: 20px 0px 20px 0px;
  transition: all 0.3s;
  background-color: pink;
  margin-left: 60px; /* Sidebar genişliği kadar boşluk bırak */
}

@media (max-width: 1199px) {
  #main {
    background-color: lime;
    margin: 120px 0 0 20px;
  }
}
