.cards{
  flex:1;
  box-sizing: border-box;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  width:100%;
  padding:8px;
}

.cards-content{
  background-color:white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width:100%;
  padding:8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-content-filter{
  display: flex;
  justify-content: flex-end;
}

.cards-content-body{
  width:100%;
  padding:8px;
}

.cards-title{
  display: flex;
  font-size:1rem;
  font-weight:bold;
  padding-bottom: 8px;
}

.cards-details{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.details-icon{
  width:44px;
  height:44px;
  border-radius:50%;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:powderblue;
  font-size: 1.5rem;
  color:darkslategrey;
  margin-right:20px;
}

.details-right h6{
  color:royalblue;
  font-weight: 600;
}

.details-percent{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.details-number{
  font-weight:bold;
  font-size:1rem;
}

.success{
  color: forestgreen;
}

.danger{
  color:crimson;
}

.details-arrow{
  font-size:2rem;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}