.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: -5px -5px 20px rgba(0, 0, 0, 0.1), 10px 10px 20px rgba(0, 0, 0, 0.1);
  padding:0 40px;
  position: fixed;
  background-color: snow;
  z-index: 2;
}

.navbar-logo{
  width:100%;
  height: 80px;
  display:flex;
  align-items: center;
  font-weight:bold;
  font-size:2rem;
  color:#04083b;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
.navbar-right{
  display: flex;
  align-items: flex-end;
}

.navbar-message, .navbar-notice{
  margin-right:16px;
}

.icon-container .badge{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container i{
  font-size:1.5rem;
  color:#04083b;
}

.badge{
  position: absolute;
  background-color: #e3f2fd;
  box-shadow: -2px 2px 3px rgba(18, 18, 65, 0.8);
  border-radius:50%;
  width:20px;
  height:20px;
  top:-10px;
  margin-left:12px;
  color:#04083b;
  font-size:1rem;
  font-weight:600;
}

@media only screen and (min-width:300px) and (max-width:600px){
  .navbar{
    display: flex;
    flex-direction: column;
    padding:30px 20px 0 20px;
    height:110px;
    position: fixed;
    background-color: snow;
  }
  .navbar-logo{
    width:100%;
    height:30px;
    display: flex;
    justify-content: center;
  }
  .navbar-right{
    display: flex;
    justify-content: flex-end;
  }
  .navbar-message, .navbar-notice{
    margin-right:10px;
  }

  .icon-container i{
    font-size:1.5rem;
  }

  .badge{
    width:20px;
    height:20px;
    font-size: 14px;
    position: absolute;
    margin-left: 10px;
    top:-8px;
  }
}


