.sidebar.closed{
  transform:translateX(0%);
  transition:transform 0.3s ease;
  width:auto;
  height:100vh;
}

.sidebar.closed > ul{
  padding:0;
}

.sidebar.closed > ul li{
  display: flex;
  align-items:center;
  justify-content: center;
  padding:10px;
  margin-bottom:16px;
}

/*
.sidebar.closed > ul li:hover{
  background-color: lightsteelblue;
}
*/

.sidebar.closed > ul li{
  color:#000;
}

.sidebar.closed > ul li span{
  display:none;
}