.sidebar.open{
  transform: translateX(0%);
  transition: transform 0.3s ease;
  width:auto;
  height:100vh;
}

.sidebar.open > ul{
  padding:0
}

.sidebar.open > ul li{
  padding:10px 20px;
  border:1px solid green;
  margin-bottom: 10px;
}