.sidebar-container{
  position:relative;
}

.toggle-button{
  position: relative;
  z-index:999;
  margin-top:60px;
  margin-left:20px;
  border:none;
  background-color: transparent;
  font-size:2rem;
}

.sidebar{
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  background-color:floralwhite;
}


.sidebar ul li{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items:center;
}

.sidebar > ul li i{
  font-size: 1.5rem;
}

.sidebar > ul li span{
  font-size: 16px;
  text-transform: capitalize;
  margin-left: 8px;
}
