/* tooltip.css */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  /* Tooltip'in konumlandırılması */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -70px;

  /* Geçiş ve animasyon */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover ~ .tooltiptext {
  visibility: visible;
  opacity: 1;
}
