.sales-body{
    display: flex;
    flex-direction: column;
    background-color: snow;
    border-radius: 12px;
    border:none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding:12px 16px;
    margin:30px 0;
}

.sales-body-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sales-title{
    color: #04083b;
    font-weight: 600;
    font-size: 18px;
}

.sales-filter{
    color:#666;
}

.sales-table{
    padding:8px 0;
}