.customer-table{
  width: 100%;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  border: none;
  border-collapse: collapse;
}

.customer-table-header{
  font-size:1rem;
}

.customer-table th{
  color:#000;
}

table.customer-table tr{
  background-color: #f8f8f8;
  border: none;
  text-transform: capitalize;
}

table.customer-table th, 
table.customer-table t{
  text-align: left;
}

table.customer-table th{
  color:#000;
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

table.customer-table td{
  color:#04083b;
}

@media screen and (max-width:600px){
  table.customer-table{
    border:0;
  }
  table.customer-table thead{
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table.customer-table tr{
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
    padding: 0.35em;
  }
  table.customer-table th, 
  table.customer-table td{
    padding:0.625em;
  }
  table.customer-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }
  table.customer-table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    color:#000;
  }
  table.customer-table tbody tr:last-child {
    border-bottom: 0;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .customer-table thead {
        display: none; /* Hides the header row */
      }
    .customer-table tbody tr {
      display: block;
      padding:4px 0;
      border-bottom: 3px solid #ddd;
    }
  
    .customer-table th {
      display: block;
      font-weight: bold;
      text-transform: uppercase;
      padding:0;
      color:#000;
    }
  
    .customer-table td {
      display: block;
      font-size: 1rem;
      text-align: left;
      position: relative;
      padding:0;
    }

    table.customer-table th, 
    table.customer-table td {
        padding: 8px 0;
    }
  
    .customer-table td[data-label="name"]::before,
    .customer-table td[data-label="amount"]::before,
    .customer-table td[data-label="payment type"]::before, 
    .customer-table td[data-label="installments left"]::before {
      content: attr(data-label);
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      margin-bottom:4px;
      color:#000;
    }
  
    .customer-table td[data-label="name"],
    .customer-table td[data-label="amount"] {
      display: inline-block;
      width: 48%;
      vertical-align: top;
    }
  
    .customer-table td[data-label="payment type"],
    .customer-table td[data-label="installments left"] {
      display: inline-block;
      width: 48%;
      text-align: left;
      vertical-align: top;
    }
    .customer-table tbody tr:last-child {
        border-bottom: none;
      }
  }

  @media only screen and (min-width:1025px) and (max-width:2600px){
  .customer-table thead tr, 
  .customer-table tbody tr {
    display: grid;
    grid-template-columns: 0.6fr 1.2fr 1fr 1fr 1fr;


    text-align: left;
    border-bottom: 3px solid #ddd;
    
  }

  .customer-table th {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left !important;
    padding:0;
  }

  .customer-table td {
    display: block;
    font-size: 1rem;
    text-align: left !important;
    position: relative;
    padding:0;
  }

  .customer-table thead tr th,  
  .customer-table tbody tr td {
  text-align: left !important;
}

  table.customer-table th, 
  table.customer-table td {
      padding: 8px 0;
  }
  .customer-table tbody tr:last-child {
    border-bottom: none;
  }
}