.customer-table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  padding: 10px 12px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  width: 100%;
}

.left-panel,
.right-panel {
  flex: 1;
  width: 100%;
}

.customer-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.customer-table tbody tr,
.customer-table thead tr {
  display: grid;
  grid-template-columns: 2fr minmax(100px, 1fr) 0.5fr;
  transition: all 200ms ease-in-out;
  gap: 20px;
  text-align: left;
  align-items: center;
}

.customer-table tbody tr {
  height: 50px;
}

.customer-table tbody tr td:nth-last-child(1) {
  text-align: right;
  padding-right: 10px;
}

.customer-table-pagination {
  margin: 20px auto;
}
