.customer-table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:10px auto;
}

.left-panel, .right-panel{
  flex:1;
  width:100%;
}

.customer-table{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:100%;
  height:auto;
}

.customer-table tbody tr, .customer-table thead tr{
  display: grid;
  grid-template-columns: 2fr minmax(100px, 1fr) 0.5fr;
  height:40px;
  transition: all 200ms ease-in-out;
  gap:20px;
  border:1px solid black;
  text-align: left;
  align-items: center;
}

.customer-table tbody tr td:nth-last-child(1){
    text-align: right;
    padding-right:10px;
    border:1px solid red;
}

.customer-table-header{
    color:#04083b;
}

.customer-table-pagination{
    margin:40px auto 20px auto;
}

