.pagination__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination__center button{
  width:24px;
  height:24px;
  margin:0 4px;
  border:1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4px;
  color:#04083b;
}

.pagination__control, .pagination__control i{
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:1px solid #ccc;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4px;
  color:#04083b;
}


.pagination__page:hover {
  background-color: #04083b;
  color: white;
}

.pagination__page:disabled {
  opacity: 0.8;
}

.pagination__page.pagination__page__active{
  background-color: #04083b;
  color: white;
  border: none;
}
