.recent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: snow;
  border-radius: 12px;
  border:none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding:12px 24px;
}

.recent-activity-body-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recent-title{
  color:#04083b;
  font-weight: 600;
  font-size:18px;
}

.recent-filter{
  color:#666;
}

.recent-item{
  padding:8px 0;
}

.activity-container{
  display: flex;
  align-items: center;
  padding:8px 0;
}

.activity-content{
  display:flex;
  flex-direction: column;
  width:100%;
  padding-left:4px;
}

.activity-detail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top:4px;
}

.activity-highlight{
  font-style: italic;
  text-transform: capitalize;
}

.activity-time{
  font-weight: bold;
  letter-spacing: 0.2px;
}

.text-info{
  color:#04083b;
}

.text-warning{
  color:orange;
}

.text-danger{
  color:red;
}

.text-success{
  color:green;
}

.text-muted{
  color:gray;
}