* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.area{
  display:flex;
  margin-top:0px;
  width:100%;
}

.navbar-area{
  position: absolute;
  top:0px;
}

.area.content-sidebar{
  margin-top:0px;
  position: relative;
}

.content-main{
  width:calc(100% - 240px);
  background-color: ghostwhite;
}

.content-main-out{
  width:100%;
  background-color: ghostwhite;
}

/* Mobil ve tablet cihazlar için medya sorguları */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0; /* Sidebar'ın content alanına etki etmemesi için */
    z-index: 1;
    position: relative;
  }
}
