@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


/*--------------------------------------
# General
---------------------------------------*/

:root{
  scroll-behavior: smooth;
  --primary:cadetblue;
  --second:lightsteelblue;
  --bgcolor:#f6f9ff;
}

*{
  margin:0;
  padding:0;
}

body{
  font-family:'Lato', serif;
  color:#444444;
  background-color: var(--second);
  overflow-x:hidden;
}

a{
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Merriweather", serif;
}


@media only screen and (min-width:300px) and (max-width:600px){
  h1{
    font-size:28px;
  }
  h2{
    font-size:24px;
  }
  h3{
    font-size:20px;
  }
  h4{
    font-size:18px;
  }
  h5{
    font-size:16px;
  }
  h6{
    font-size: 14px;
  }
  p, span, small{
    font-size:14px;
  }
}
