nav{
  display:flex;
  justify-content: flex-end;
  margin:0 10px 0 20px;
  font-size:24px;
  background-color: white;
}


.icon-container {
  position: relative;
  display: inline-block;
}

.badge {
  display:flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -6px;
  right: -4px;
  border-radius: 50%;
  width:18px;
  height:18px;
  font-size: 14px;
}

.badge-notice{
  background-color: aqua;
  color:black;
  font-weight:600;
}

.badge-message{
  background-color: mediumturquoise;
  color:black;
  font-weight:600;
}